{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}顶点云 - 注册{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <h3><stong>现在加入</stong>顶点云</h3>
            {{ wtf.quick_form(form) }}
        </header>
        <footer>
            <span><small>
                    注册前，请先阅读<a href=" {{ url_for('auth.rules', _external=True)}}">注册须知</a>
                </small></span>
        </footer>
    </div>
</section>
{% endblock %}
