{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}顶点云 - 注册须知{% endblock %}
{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <br/>
            <h2>请仔细阅读以下说明</h2>
            <div style="text-align:left">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;顶点云由 <a href="https://github.com/Forec/"> Forec </a>提出并设计，基于北邮校内个人服务器搭建。
                开发顶点云的主要目的不是提供大容量云存储空间，而是为了提供更好的资源交流平台，方便学生日常数据的交互。
                学生可分享自己的资源，也可获取其他用户的学习资料，基于校园网的顶点云能够提供高速的上传和下载速度，无
                论是小文件的打印还是电影的暂存，顶点云都有其用武之地。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;顶点云不对用户上传的任何文件负责。涉及淫秽色情等非法文件，由上传及分享用户个人承担法律和刑事责任。
            另外禁止膜蛤。</p>
            </div>
            <p style="line-height:100%">顶点云团队（Zenith Cloud） @2016 </p>
            <p>有任何问题和建议，请联系<a href="mailto:forec@bupt.edu.cn">Forec</a></p>
        </header>
    </div>
</section>
{% endblock %}
