{% extends "auth/authbase.html" %}
{% block title %}顶点云设备管理 - 测试{% endblock %}

{% block main %}
<form method="post" role="form" id="resetpassword" class="login-form fade-in-effect">
	<div class="login-header">
		<a href="{{ url_for('main.index') }}" class="logo">
			<img src="{{ url_for('static', filename='assets/images/zenith-logo-white.png')}}" alt="" width="80" />
			<span>注册接口未开放</span>
		</a>
		<p>随时随地，设备触手可及</p>
	</div>
    <p style="font-size:30px">尊敬的用户您好！</p>
        <p style="font-size:20px">
                    非常感谢您对顶点云设备管理系统的关注。顶点云设备管理系统目前正处于线上测试状态，注册入口将在
                    测试结束后开放！
        </p>
			<p>
                    提供意见或建议请发送邮件到： forec@bupt.edu.cn
                    <br/>
                    顶点云设备管理系统感谢您的支持！
                </p>
	<div class="login-footer">
		<div class="info-links"></div>	
	</div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	jQuery(document).ready(function($){
		setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
	});
</script>
{% endblock %}