{% extends "base.html" %}

{% block title %}顶点云 - 正在测试{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <h3>亲爱的用户，您好！</h3>
            <br/>
            <div style="text-align:left; margin: 0 10% 0 10%">
                <p>
                    非常感谢您对顶点云的关注。顶点云目前正处于线上测试状态，注册入口将在
                    测试结束后开放。您可以试用测试账户 test@test.com （密码为 zenith）
                    来协助测试。若您发现了 bug 或令您感到不便之处，欢迎向 Forec 提出建议！
                </p>
                <p>
                    提供意见或建议请发送邮件到： forec@bupt.edu.cn
                    <br/>
                    顶点云感谢您的支持！
                </p>
            </div>
            <br/>
            <br/>
        </header>
    </div>
</section>
{% endblock %}
