{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}顶点云 - 安全中心{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <br/>
            <h2>用户安全中心</h2>
            <p><small><a href="{{ url_for('main.edit_profile', _external=True)}}">编辑个人资料</a></small></p>
            <p><small><a href="{{ url_for('auth.change_email_request', _external=True)}}">更改注册邮箱</a></small></p>
            <p><small><a href="{{ url_for('auth.change_password', _external=True)}}">更改密码</a></small></p>
        </header>
    </div>
</section>
{% endblock %}
