{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}顶点云 - 输入提取码{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <br/>
            <h2>请输入
                {% if file.isdir %}
                    目录
                {% else %}
                    文件
                {% endif %}
                {{ file.filename }}的提取码
            </h2>
            <p></p>
            <br/>
            {{ wtf.quick_form(form) }}
        </header>
    </div>
</section>
{% endblock %}
