div.device-block{
    margin: 5px 10px 5px 10px;
}



.profile-thumbnail {
    position: relative;
    width: 56px;
}
.user-profile-thumbnail {
    position: relative;
    width: 224px;
}
.profile-header {
    min-height: 224px;
    margin-left: 255px;
}
.dropdown-menu{
  min-width: 40px;
}

div.link-block{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
a.link-item{
    font-size: 120%;
}
div.right-button-margin{
    margin-top:20px;
    text-align: right;
}
.navbar-inverse{
 #   background-color: #0e84e7;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-header{
    margin-left:40px;
}

div.post-date {
    margin-left: 30px;
    text-align:left;
    font-size:80%;
    margin-top:0px;
}
div.post-author {
    font-size:90%;
    margin-left: 30px;
    text-align:left;
    margin-bottom:0px;
}
div.post-thumbnail {
    position: absolute;
}
div.post-thumbnail a:link{
    text-decoration:none;
}
div.post-thumbnail a:link{
    text-decoration:none;
}

div.post-content {
    font-size: 80%;
    text-align:left;
}
div.post-footer {
    font-size: 80%;
    text-align: right;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.post-body{
    font-size: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
.post-body h1 {
    font-size: 100%;
}
.post-body h2 {
    font-size: 100%;
}
.post-body span {
    font-size: 80%;
}