{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}名字好难起{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <div>
                <form name="SEARCH" method="POST" action="return onclick()">
                    <input type="text" placeholder="输入关键字检索设备">
                </form>
                <button action="{{ url_for('main.newdevice') }}" method="GET">添加新设备</button>
            </div>

            {% if current_user.is_authenticated  %}
                {% for device in devices %}
                <div class="device-block" id="{{ device.code }}">
                    设备编号：<span id = "Code">{{ device.code }}</span>
                    {% if device.warning %}
                        <span id = "Warning" class="btn btn-danger">设备告警！</span>
                    {% endif %}
                    <br/>
                    设备名称：<span id ="Name">{{ device.name }}</span>&nbsp;&nbsp;&nbsp;
                    设备类型：<span id ="Type">{{ device.type }}</span>&nbsp;&nbsp;&nbsp;
                    设备温度：<span id ="Temperature">{{ device.temperature }}</span> 度&nbsp;&nbsp;&nbsp;
                    监控周期: <span id ="Interval">{{ device.interval }}</span> s&nbsp;&nbsp;&nbsp;
                    <div id="Work">
                        <span id="Working">
                            {% if device.work %}
                                设备正在工作
                            {% else %}
                                设备暂未工作
                            {% endif %}
                        </span>
                        <br/>
                        {% if device.type == "Bulb" %}
                            灯光亮度：<span id="BulbLightDegree">{{ device.lightDegree }}</span> 级&nbsp;&nbsp;
                            灯光饱和度：<span id="BulbFull">{{ device.full }}</span> %&nbsp;&nbsp;
                            电压：<span id="BulbVolume">{{ device.volume }}</span> V&nbsp;&nbsp;
                            电流：<span id="BulbCurrent">{{ device.current }}</span> mA&nbsp;&nbsp;
                            功率：<span id="BulbPower">{{ device.power }}</span> W&nbsp;&nbsp;
                        {% elif device.type == "TV" %}
                            电压：<span id="TVVolume">{{ device.volume }}</span> V&nbsp;&nbsp;
                            电流：<span id="TVCurrent">{{ device.current }}</span> mA&nbsp;&nbsp;
                            功率：<span id="TVPower">{{ device.power }}</span> W&nbsp;&nbsp;
                            频道：<span id="TVStation">{{ device.station }}</span> 台&nbsp;&nbsp;
                            音量：<span id="TVVoiceVolume">{{ device.Voicevolume }}</span> L&nbsp;&nbsp;
                            <br/>
                            <img id="TVImage" src="{{ url_for('static', filename='tvs/' ~ device.image ~ '.png') }}"/>
                        {% endif %}
                    </div>
                </div>
                <hr/>
                {% endfor %}
            {% endif %}

            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
            {% endif %}
        </header>
    </div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/devices/index.js', _external=True) }}"></script>
{% endblock %}
