{% extends "bootstrap/base.html" %}

{% block title %}名字好难起{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico', _external=True) }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico', _external=True) }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basic.css', _external=True) }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css', _external=True) }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template/main.css', _external=True) }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notification/ns-default.css', _external=True) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notification/ns-style-bar.css', _external=True) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css', _external=True) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css', _external=True) }}" />

<!--it's interesting the js needs to be put here-->
<script src="{{ url_for('static', filename='js/notification/modernizr.custom.js', _external=True) }}"></script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	{{ super() }}

<!--header-->
<div id="header">
	<div class="top">
		<!-- Logo -->
		<div id="logo">
			{% if current_user.is_authenticated %}	
				<!--已登陆用户显示头像和简介，用户昵称链接到用户资料界面-->
			<span class="image img-rounded avatar48"><img src="{{ current_user.gravatar(size=48) }}" alt="" /></span>
				<h1 style="margin-left:40px"><a href="{{ url_for('main.user', id=current_user.uid, _external=True) }}">{{ current_user.nickname }}</a></h1>
				<div style="margin-left:60px">
					<p>{{ current_user.about_me }}</p>
				</div>
			{% else %}
			<span class="image avatar48"><img src="{{ url_for('static', filename='images/anonymous.jpg', _external=True) }}" alt="" /></span>
				<h1 id="title">游客</h1>
				<p>您尚未登陆</p>
			{% endif %}
		</div>
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="{{ url_for('main.index', _external=True) }}" class="skel-layers-ignoreHref">
					<span class="icon fa-share-alt">主页</span></a></li>
				{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('main.index', _external=True) }}" id="top-link" class="skel-layers-ignoreHref">
						<span class="icon fa-cloud">我的设备</span></a></li>
					<li><a href="{{ url_for('auth.secure_center', _external=True) }}" class="skel-layers-ignoreHref">
						<span class="icon fa-lock">安全中心</span></a></li>

					<li><a href="{{ url_for('auth.logout', _external=True) }}" class="skel-layers-ignoreHref">
						<span class="icon fa-sign-out">登出</span></a></li>
				{% else %}
					<li><a href="{{ url_for('auth.login', _external=True) }}" class="skel-layers-ignoreHref">
						<span class="icon fa-sign-in">登入</span></a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="bottom">
		<!-- Social Icons -->
		<ul class="icons">
			<li><a href="{{ url_for('main.home', _external=True) }}" class="icon fa-home"><span class="label">Home</span></a></li>
			<li><a href="http://blog.forec.cn" class="icon fa-coffee"><span class="label">Blog</span></a></li>
			<li><a href="https://github.com/Forec" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="mailto:forec@bupt.edu.cn" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>
	</div>
</div>

<!-- Main -->
<div id="main">
	{% block page_content %}{% endblock %}
</div>

<!-- Footer -->
<div id="footer">
	<!-- Copyright -->
	<ul class="copyright">
		<li>&copy; 顶点云团队 2016</li><li>顶点云由 <a href="https://github.com/Forec"> Forec </a> 和 <a href="https://github.com/non1996"> non1996 </a>设计</li>
	</ul>
</div>   	
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.include_jquery() }}
{{ moment.lang("zh-CN") }}

<!--<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js', _external=True) }}"></script>-->
<!--<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js', _external=True) }}"></script>-->
<script src="{{ url_for('static', filename='js/template/jquery.min.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/template/jquery.scrolly.min.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/template/jquery.scrollzer.min.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/template/skel.min.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/template/util.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/template/main.js', _external=True) }}"></script>

<script src="{{ url_for('static', filename='js/notification/classie.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/notification/notificationFx.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='js/jquery.timers-1.1.2.js', _external=True) }}"></script>

<script>
	window.url = 'http://10.201.14.176:5000';
</script>
{% for message in get_flashed_messages() %}
    <script>
		// create the notification
		var notification = new NotificationFx({
			message : '<i class="fa fa-bullhorn fa-2x"></i><p>{{ message }}</p>',
			layout : 'bar',
			effect : 'slidetop',
			ttl : 5000,
			type : 'notice',
			// notice, warning or error
		});
		// show the notification
		notification.show();
	</script>
{% endfor %}
{% endblock %}
