<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="ZENITH CLOUD DEVICE MANAGEMENT" />
	<meta name="author" content="" />
	
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/linecons/css/linecons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/fontawesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-core.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-components.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-skins.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">

	<script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js') }}"></script>
	<script>
		window.url = "{{ url_for('main.home', _external=True) }}";
		window.url = window.url.substring(0,window.url.length-1);
	</script>
</head>


<body class="page-body">
	<div class="page-container">
		<div class="sidebar-menu toggle-others fixed">
			<div class="sidebar-menu-inner">	
				<header class="logo-env">
					<div class="logo">
						<a href="{{ url_for('main.home') }}" class="logo-expanded">
							<img src="{{ url_for('static', filename = 'assets/images/zenith-logo-white.png') }}" width="80" alt="" />
						</a>
					</div>
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-user"></i>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>
				</header>

				{% block sidebar %}{% endblock %}
			</div>
		</div>
		
		<div class="main-content">
			
			{% block main %}
			{% endblock %}

			<footer class="main-footer sticky footer-type-1">
				<div class="footer-inner">
					<div class="footer-text">
						京ICP备16060806号-1 &copy; 2016 
						<strong>顶点云设备监控系统</strong> 
						由 <a href="http://forec.cn" target="_blank" title="Forec">Forec</a> 和 <a href="https://github.com/non1996" title="non1996" target="_blank">non1996</a> 设计
					</div>
					
					<div class="go-up">
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
					</div>
				</div>	
			</footer>
		</div>
	</div>
	
	{% block floatPart %}
	{% endblock %}

	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/resizeable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/joinable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-api.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-toggles.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/rwd-table/js/rwd-table.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/toastr/toastr.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-custom.js') }}"></script>

	{% for message in get_flashed_messages() %}
		<script>
			var opts = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-full-width",
				"onclick": null,
				"showDuration": "5000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "5000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};
			toastr.success("{{ message }}", "", opts);
		</script>
	{% endfor %}
	
	{% block scripts %}
	{% endblock %}
	
</body>
</html>