<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="ZENITH CLOUD DEVICE MANAGEMENT" />
	<meta name="author" content="" />
	
	<title>{% block title %}{% endblock %}</title>	

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/linecons/css/linecons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/fontawesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-core.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-components.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-skins.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">

	<script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/timepicker/bootstrap-timepicker.min.js') }}"></script>
	<script>
		window.url = "{{ url_for('main.home', _external=True) }}";
		window.url = window.url.substring(0,window.url.length-1);
	</script>
</head>
<body class="page-body">
	<div class="settings-pane">
			
		<a href="#" data-toggle="settings-pane" data-animate="true">
			&times;
		</a>
		
		<div class="settings-pane-inner">
			
			<div class="row">
				
				<div class="col-md-4">
					
					<div class="user-info">
						
						<div class="user-image">
							<a href="extra-profile.html">
								<img src="{{ current_user.gravatar(size=64) }}" class="img-responsive img-circle" />
							</a>
						</div>
						
						<div class="user-details">
							
							<h3>
								<a href="{{ url_for('main.user') }}">{{ current_user.nickname }}</a>
								
								<!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
								<span class="user-status is-online"></span>
							</h3>
							
							<p class="user-title"></p>
							
							<div class="user-links">
								<a href="extra-profile.html" class="btn btn-primary">编辑资料</a>
								<a href="extra-profile.html" class="btn btn-success">安全中心</a>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
				<div class="col-md-8 link-blocks-env">
					
					<div class="links-block left-sep">
						<h4>
							<a href="#">
								<span>帮助</span>
							</a>
						</h4>
						
						<ul class="list-unstyled">
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<i class="fa-angle-right"></i>
									安全中心
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<i class="fa-angle-right"></i>
									修改密码
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<i class="fa-angle-right"></i>
									修改邮箱
								</a>
							</li>
							<li>
								<a href="{{ url_for('main.reset_token',token = current_user.generate_resetToken_token(expiration=3600)) }}">
									<i class="fa-angle-right"></i>
									更新 Token
								</a>
							</li>
						</ul>
					</div>
					
					<div class="links-block left-sep">
						<h4>
							<a href="#">
								<span>关注我们</span>
							</a>
						</h4>
						
						<ul class="list-unstyled">
							<li>
								<a href="http://forec.cn">
									<i class="fa-angle-right"></i>
									Forec 的官方网站
								</a>
							</li>
							<li>
								<a href="https://github.com/Forec">
									<i class="fa-angle-right"></i>
									Forec 的 GitHub
								</a>
							</li>
							<li>
								<a href="https://github.com/non1996">
									<i class="fa-angle-right"></i>
									non1996 的 GitHub
								</a>
							</li>
							<li>
								<a href="http://cloud.forec.cn">
									<i class="fa-angle-right"></i>
									顶点云存储
								</a>
							</li>
						</ul>
					</div>
					
				</div>
				
			</div>
		
		</div>
		
	</div>


	<div class="page-container">
		<!--token, email, code在这里渲染------------------------------------------------------------------------------->
		<input type="hidden" id = "info_token" class = "form-control" value = "{{ current_user.token_hash }}">
		<input type="hidden" id="info_email" class = "form-control" value="{{ current_user.email }}">
		<input type="hidden" id="info_code" class = "form-control" value="{{ device.code }}">
		<input type="hidden" id="info_interval" class = "form-control" value="{{ current_user.interval }}">
		<div class="sidebar-menu toggle-others fixed">
			<div class="sidebar-menu-inner">	
				<header class="logo-env">
					<div class="logo">
						<a href="{{ url_for('main.home') }}" class="logo-expanded">
							<img src="{{ url_for('static', filename = 'assets/images/zenith-logo-white.png') }}" width="80" alt="" />
						</a>
					</div>
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-user"></i>
						</a>
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>	
				</header>

				<!--左边菜单-->
				<ul id="main-menu" class="main-menu">
					<li>
						<a href="">
							<i class="linecons-cog"></i>
							<span class="title">账户管理</span>
						</a>
						<ul>
							<li>
								<a href="{{ url_for('main.user') }}">
									<span class="title">个人资料</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<span class="title">安全中心</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.logout') }}">
									<span class="title">登出</span>
								</a>
							</li>
						</ul>						
					</li>
					
					<li class="opened">
						<a href="">
							<i class="linecons-desktop"></i>
							<span class="title">设备管理</span>
						</a>
						<ul id="deviceListLeft">
							<li>
								<a href="{{ url_for('main.home') }}">
									<span class="title">全部设备</span>
								</a>
							</li>
							<li class="active">
								<a href="{{ url_for('main.device', code=device.code) }}">
									<span class="title">{{ device.name }} - {{ device.code }}</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ url_for('main.monitor') }}">
							<i class="linecons-camera"></i>
							<span class="title">视频监控</span>
						</a>
					</li>
				</ul>		
			</div>
		</div>
		
		<div class="main-content">

					
			<nav class="navbar user-info-navbar" role="navigation">
			
			<ul class="user-info-menu left-links list-inline list-unstyled">
				<li class="hidden-sm hidden-xs">
					<a href="#" data-toggle="sidebar">
						<i class="fa-bars"></i>
					</a>
				</li>
			</ul>
				<ul class="user-info-menu right-links list-inline list-unstyled">
					<li class="dropdown user-profile">
						<a href="#" data-toggle="dropdown">
							{% if current_user.is_authenticated %}
							<img src="{{ current_user.gravatar(size=48) }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								{{ current_user.nickname }}
								<i class="fa-angle-down"></i>
							</span>
							{% else %}
							<img src="{{ url_for('static', filename = 'assets/images/user-4.png') }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								游客
								<i class="fa-angle-down"></i>
							</span>
							{% endif %}
						</a>
						
						{% if current_user.is_authenticated %}
						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="{{ url_for('main.user') }}">
									<i class="fa-edit"></i>
									账户资料
								</a>
							</li>
							<li>
								<a href="{{ url_for('main.home') }}"><i class="fa-dashboard"></i>设备管理</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}"><i class="fa-unlock"></i>安全中心</a>
							</li>
							<li class="last">
								<a href="{{ url_for('auth.logout') }}"><i class="fa-sign-out"></i>登出</a>
							</li>
						</ul>
						{% else %}
						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="{{ url_for('auth.register') }}">
									<i class="fa-space-shuttle"></i>
									注册
								</a>
							</li>
							<li class="last">
								<a href="{{ url_for('auth.login') }}">
									<i class="fa-sign-in"></i>
									登录
								</a>
							</li>
						</ul>
						{% endif %}
					</li>
				</ul>
			</nav>
			
			<div class="panel panel-default">
				<input type="hidden" id = "info_token" class = "form-control" value = "{{ token }}">
				<input type="hidden" id="info_email" class = "form-control" value="{{ email }}">
				<input type="hidden" id="info_code" class = "form-control" value="{{ code }}">
				<input type="hidden" id="interval_time" class = "form-control" value="{{ interval }}">
				<div class="panel-heading">
					<div class="col-md-6">
						设备信息
					</div>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-sm-9">
							<div class="form-group">
								<label class="col-sm-3 control-label">设备号：</label>
								<label class="col-lg-3"><b>{{ device.code }}</b></label>
								<label class="col-sm-3 control-label">设备名称：</label>
								<label class="col-sm-3"><b>{{ device.name }}</b></label>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% block main %}{% endblock %}
			
			<footer class="main-footer sticky footer-type-1">
				<div class="footer-inner">
					<div class="footer-text">
						京ICP备16060806号-1 &copy; 2016 
						<strong>顶点云设备监控系统</strong> 
						由 <a href="http://forec.cn" target="_blank" title="Forec">Forec</a> 和 <a href="https://github.com/non1996" title="non1996" target="_blank">non1996</a> 设计
					</div>
					<div class="go-up">
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
	
	
	<div class="page-loading-overlay">
		<div class="loader-2"></div>
	</div>

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/js/jquery-ui/jquery-ui.min.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/js/daterangepicker/daterangepicker-bs3.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/js/select2/select2.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/js/select2/select2-bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/js/multiselect/css/multi-select.css') }}">
	<!-- Bottom Scripts -->
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/resizeable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/joinable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-api.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-toggles.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>

	<!-- Imported scripts on this page -->
	<script src="{{ url_for('static', filename='assets/js/datepicker/bootstrap-datepicker.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/timepicker/bootstrap-timepicker.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-widgets.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/devexpress-web-14.1/js/knockout-3.1.0.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/devexpress-web-14.1/js/globalize.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/js/devexpress-web-14.1/js/dx.chartjs.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/toastr/toastr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/knob/jquery.knob.min.js') }}"></script>

	<!-- JavaScripts initializations and stuff -->
	<script src="{{ url_for('static', filename='assets/js/xenon-custom.js') }}"></script>	

<script type="text/javascript">

jQuery(document).ready(function($){
	refresh_sidebar();
	var init_interval = jQuery('#info_interval').val();
	setInterval(function(){
		refresh_sidebar();
	}, init_interval*1000);
});
function refresh_sidebar() {
	$.post( window.url + '/show_status/', {
		'request':{
			'token': jQuery("#info_token").val(),
			'email': jQuery("#info_email").val()
		}
	}).done(function (data) {
		if ('list' in data){
		    $('#deviceListLeft').empty();
			var leftSideBar = "<li><a href=\""+ window.url + 
							"\"><span class=\"title\">全部设备</span></a></li>";
			for (var key in data.list){
			    var deviceDate = 1000* data.list[key].last_seen;
				var currentDate = new Date().getTime();
				var sidename = data.list[key].name;
				if (currentDate - deviceDate > 2000 * data.list[key].interval){	
					sidename = data.list[key].name + "（失去连接）";
				}
				leftSideBar = leftSideBar + "<li id=\"code" + key +"\"><a href=\"" + window.url + "/device/" + key + "\">" + 
							"<span class=\"title\">" + sidename + "</span></a></li>";
			}
		    $('#deviceListLeft').html(leftSideBar);
			$('#code' + jQuery("#info_code").val()).addClass('active');
		}
	}).fail(function (data) {
		console.log(window.url + '/show_status/');
	});
}
</script>
{% block scripts %}

{% endblock %}
</body>
</html>