{% extends "base.html" %}
{% block title %}视频监控{% endblock %}
{% block sidebar %}
				<ul id="main-menu" class="main-menu">
					<li>
						<a href="">
							<i class="linecons-cog"></i>
							<span class="title">账户管理</span>
						</a>
						<ul>
							<li>
								<a href="{{ url_for('main.user') }}">
									<span class="title">账户资料</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<span class="title">安全中心</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.logout') }}">
									<span class="title">登出</span>
								</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="">
							<i class="linecons-desktop"></i>
							<span class="title">设备管理</span>
						</a>
						<ul id="deviceListLeft">
							<li>
								<a href="{{ url_for('main.home') }}">
									<span class="title">全部设备</span>
								</a>
							</li>
						</ul>		
					</li>
					<li class="active">
						<a href="{{ url_for('main.monitor') }}">
							<i class="linecons-camera"></i>
							<span class="title">视频监控</span>
						</a>
					</li>
					<li>
						<a href="http://forec.cn:20000">
							<i class="linecons-key"></i>
							<span class="title">远程登录</span>
						</a>
					</li>
				</ul>
{% endblock %}
{% block main %}
<nav class="navbar user-info-navbar" role="navigation">
	<ul class="user-info-menu left-links list-inline list-unstyled">
		<li class="hidden-sm hidden-xs">
			<a href="#" data-toggle="sidebar">
				<i class="fa-bars"></i>
			</a>
		</li>
	</ul>

	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">
				
		<li class="dropdown user-profile">
			<a href="#" data-toggle="dropdown">
			{% if current_user.is_authenticated %}
				<img src="{{ current_user.gravatar(size=48) }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					{{ current_user.nickname }}
					<i class="fa-angle-down"></i>
				</span>
			{% else %}
				<img src="{{ url_for('static', filename = 'assets/images/user-4.png') }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					游客
					<i class="fa-angle-down"></i>
				</span>
			{% endif %}
			</a>
			{% if current_user.is_authenticated %}
				<ul class="dropdown-menu user-profile-menu list-unstyled">
					<li>
						<a href="{{ url_for('main.user') }}"><i class="fa-edit"></i>账户资料</a>
					</li>
					<li>
						<a href="{{ url_for('main.home') }}"><i class="fa-dashboard"></i>设备管理</a>
					</li>
					<li>
						<a href="{{ url_for('auth.secure_center') }}"><i class="fa-unlock"></i>安全中心</a>
					</li>
					<li class="last">
						<a href="{{ url_for('auth.logout') }}"><i class="fa-sign-out"></i>登出</a>
					</li>
				</ul>
			{% else %}
				<ul class="dropdown-menu user-profile-menu list-unstyled">
					<li>
						<a href="{{ url_for('auth.register') }}">
							<i class="fa-space-shuttle"></i>
							注册
						</a>
					</li>
					<li class="last">
						<a href="{{ url_for('auth.login') }}">
							<i class="fa-sign-in"></i>
							登录
						</a>
					</li>
				</ul>
			{% endif %}
		</li>
	</ul>
</nav>
			
<div class="page-title">
	<div class="title-env">
		<h1 class="title">实时视频监控</h1>
	</div>
	<div class="breadcrumb-env">
		<ol class="breadcrumb bc-1">
			<li>
				<a href="{{ url_for('main.home') }}"><i class="fa-home"></i>主页</a>
			</li>
			<li>
				<a href="{{ url_for('main.monitor') }}">视频监控</a>
			</li>
		</ol>
	</div>
</div>

<div class="row">
				<input type="hidden" id = "info_token" class = "form-control" value = "{{ current_user.token_hash }}">
				<input type="hidden" id="info_email" class = "form-control" value="{{ current_user.email }}">
				<input type="hidden" id="info_interval" class = "form-control" value="{{ current_user.interval }}">
	{% if current_user.monitor_url %}
	<div class="col-md-8" style="text-align:center">
	<div class="panel panel-default">
		<img id ="monitor" style="width:100%" src="{{ current_user.monitor_url }}" alt="非常抱歉，您的监控设备似乎出了一些问题，我们无法获取视频数据" class="shrinkToFit" height="385" width="513">
	</div>
	</div>
	{% else %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<h2>您尚未配置监控数据源，<a style="color:red" href="{{ url_for('main.user') }}">点此</a> 配置后可开启实时监控</h2>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
			
{% block scripts %}
<script type="text/javascript">
	
jQuery(document).ready(function($){
	
	refresh();
	var init_interval = jQuery('#info_interval').val();
	setInterval(function(){
		refresh();
	}, init_interval*1000);

});

function refresh() {
	$.post( window.url + '/show_status/', {
		'request':{
			'token': jQuery("#info_token").val(),
			'email': jQuery("#info_email").val()
		}
	}).done(function (data) {
		if ('list' in data){
		    $('#deviceListLeft').empty();
			var leftSideBar = "<li><a href=\""+ window.url + 
							"\"><span class=\"title\">全部设备</span></a></li>";
			for (var key in data.list){     // key is device.code
			    var deviceDate = 1000* data.list[key].last_seen;
				var currentDate = new Date().getTime();
				var sidename = data.list[key].name;
				
				if (currentDate - deviceDate > 2000 * data.list[key].interval){
					sidename = data.list[key].name + "（失去连接）";
				}
				leftSideBar = leftSideBar + "<li><a href=\"" + window.url + "/device/" + key + "\">" + 
							"<span class=\"title\">" + sidename + "</span></a></li>";
			}
		    $('#deviceListLeft').html(leftSideBar);
		}
	}).fail(function (data) {
		console.log(window.url + '/show_status/');
	});
}
</script>
{% endblock %}