{% extends "authbase.html" %}

{% block title %}顶点云设备管理 - 重置密码{% endblock %}

{% block main %}
<form method="post" role="form" id="resetpassword" class="login-form fade-in-effect">
	<div class="login-header">
		<a href="{{ url_for('main.index') }}" class="logo">
			<img src="{{ url_for('static', filename='assets/images/zenith-logo-white.png')}}" alt="" width="80" />
			<span>重置密码</span>
		</a>
		<p>随时随地，设备触手可及</p>
	</div>
	<input type="hidden" id="info_token" class = "form-control" value="{{ token }}">
	<div class="form-group">
		<label class="control-label" for="email">邮箱</label>
		<input type="email" class="form-control input-dark" name="email" id="email" autocomplete="off" />
	</div>
	<div class="form-group">
		<label class="control-label" for="passwd">新密码</label>
		<input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
	</div>
	<div class="form-group">
		<label class="control-label" for="passwd2">确认新密码</label>
		<input type="password" class="form-control input-dark" name="passwd2" id="passwd2" autocomplete="off" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-dark  btn-block text-left"><i class="fa-rocket"></i>提交</button>
	</div>
					
	<div class="login-footer">
		<a href="{{ url_for('auth.login') }}">返回登陆界面</a>
		<div class="info-links"></div>	
	</div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	jQuery(document).ready(function($){
		setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
						
		$("form#resetpassword").validate({
			rules: {
				email: {
					required: true
				},
				passwd: {
					required: true,
					minlength: 8,
				},
				passwd2: {
					required: true,
					minlength: 8,
					equalTo: "#passwd"
				}
			},
			messages: {
				email: {
					required: '请输入邮箱'
				},
				passwd: {
					required: '请输入密码',
					minlength: '密码长度不能小于 8 个字符'
				},
				passwd2: {
					required: '请确认您的密码',
					equalTo: "两次输入密码不一致",
					minlength: '密码长度不能小于 8 个字符'
				}
			},
			submitHandler: function(form){
				show_loading_bar(70);
				var opts = {
					"closeButton": true,
					"debug": false,
					"positionClass": "toast-top-full-width",
					"onclick": null,
					"showDuration": "5000",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "5000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				
				$.ajax({
					url: $("#info_token").val(),
					method: 'POST',
					dataType: 'json',
					data: {
						'request':JSON.stringify({
							'email': $(form).find('#email').val(),
							'passwd': $(form).find('#passwd').val(),
							'passwd2': $(form).find('#passwd2').val(),
						})										
					},
					success: function(resp){
						show_loading_bar({
							delay: .5,
							pct: 100,
							finish: function(){
								if(resp.code == 0 || resp.code == 1){
									toastr.error("尝试发送请求失败，请检查您填写项是否合法并重试！", "请求发送失败", opts);
									$email.select();
								} else if(resp.code == 2){
									toastr.error("您的验证信息与您输入邮箱的账号不符合，请检查您输入的邮箱是否为注册时使用的邮箱地址！", "重置密码失败", opts);
									$email.select();
								} else if (resp.code == 3){
									toastr.success("您的密码已重置成功，请牢记您的新密码。即将跳转到登录界面！", "重置密码成功" , opts);
									setTimeout("window.location.href = '{{ url_for('auth.login') }}'", 4000);
								}
							}
						});
					}
				});
			}
		});
		
		$("form#resetpassword .form-group:has(.form-control):first .form-control").focus();
	});
</script>
{% endblock %}