{% extends "authbase.html" %}
{% block title %}顶点云设备管理 - 注册{% endblock %}

{% block main %}
<form method="post" role="form" id="register" class="login-form fade-in-effect">
	<div class="login-header">
		<a href="{{ url_for('main.index') }}" class="logo">
			<img src="{{ url_for('static', filename='assets/images/zenith-logo-white.png')}}" alt="" width="80" />
			<span>注册</span>
		</a>
		<p>随时随地，设备触手可及</p>
	</div>
	<div class="form-group">
		<label class="control-label" for="email">邮箱</label>
		<input type="email" class="form-control input-dark" name="email" id="email" autocomplete="off" />
	</div>
	<div class="form-group">
		<label class="control-label" for="nickname">昵称</label>
		<input type="text" class="form-control input-dark" name="nickname" id="nickname" autocomplete="off" />
	</div>			
	<div class="form-group">
		<label class="control-label" for="passwd">密码</label>
		<input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
	</div>			
	<div class="form-group">
		<label class="control-label" for="passwd2">确认密码</label>
		<input type="password" class="form-control input-dark" name="passwd2" id="passwd2" autocomplete="off" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-dark  btn-block text-left"><i class="fa-rocket"></i>注册</button>
	</div>
					
	<div class="login-footer">
		注册前请阅读 <a href="{{ url_for('auth.rules') }}">用户守则</a>
		<div class="info-links"></div>
	</div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	jQuery(document).ready(function($){
		setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
		
		$("form#register").validate({
			rules: {
				email: {
					required: true
				},
				nickname: {
					required: true,
					minlength: 4,
					maxlength: 24
				},
				passwd: {
					required: true,
					minlength: 8,
				},
				passwd2: {
					required: true,
					minlength: 8,
					equalTo: "#passwd"
				}
			},
			messages: {
				email: {
					required: '请输入邮箱'
				},
				nickname: {
					required: '请输入昵称',
					minlength: '昵称至少为 4 个字符',
					maxlength: '昵称不能超过 24 个字符'
				},
				passwd: {
					required: '请输入密码',
					minlength: '密码长度不能小于 8 个字符'
				},
				passwd2: {
					required: '请确认您的密码',
					equalTo: "两次输入密码不一致",
					minlength: '密码长度不能小于 8 个字符'
				}
			},
			submitHandler: function(form){
				show_loading_bar(70); // Fill progress bar to 70% (just a given value)
				var opts = {
					"closeButton": true,
					"debug": false,
					"positionClass": "toast-top-full-width",
					"onclick": null,
					"showDuration": "5000",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "5000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				$.ajax({
					url: "{{ url_for('auth.register') }}",
					method: 'POST',
					dataType: 'json',
					data: {
						'request':JSON.stringify({
							'email': $(form).find('#email').val(),
							'passwd': $(form).find('#passwd').val(),
							'passwd2': $(form).find('#passwd2').val(),
							'nickname': $(form).find('#nickname').val()
						})										
					},
					success: function(resp){										
						show_loading_bar({
							delay: .5,
							pct: 100,
							finish: function(){
								if(resp.code == 0 || resp.code == 1){
									toastr.error("尝试发送请求失败，请检查您填写项是否合法并重试！", "注册失败", opts);
									$passwd.select();
								} else if (resp.code == 4){
									toastr.success("您的账号已经注册成功！一封确认邮件已经发送到您填写的邮箱，请您注意查收！页面即将跳转到顶点云设备管理主界面。", "注册成功", opts);
									setTimeout("window.location.href = '{{ url_for('main.home') }}'", 4000);
								} else if (resp.code == 2){
									toastr.error("您填写的电子邮箱已经被注册！", "您填写的信息需要变更", opts);
									$email.select();
								} else  if (resp.code == 3){
									toastr.error("您填写的昵称已经被注册！", "您填写的信息需要变更", opts);
									$nickname.select();
								}
							}
						});
					}
				});
			}
		});
		
		$("form#register .form-group:has(.form-control):first .form-control").focus();
	});
</script>
{% endblock %}