{% extends "authbase.html" %}

{% block title %}顶点云设备管理 - 重置密码{% endblock %}

{% block main %}
<form method="post" role="form" id="resetpassword" class="login-form fade-in-effect">
	<div class="login-header">
		<a href="{{ url_for('main.index') }}" class="logo">
			<img src="{{ url_for('static', filename='assets/images/zenith-logo-white.png')}}" alt="" width="80" />
			<span>找回密码</span>
		</a>
		<p>随时随地，设备触手可及</p>
	</div>
	<div class="form-group">
		<label class="control-label" for="email">请填写您注册时使用的电子邮箱</label>
		<input type="email" class="form-control input-dark" name="email" id="email" autocomplete="off" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-dark  btn-block text-left"><i class="fa-unlock"></i>找回密码</button>
	</div>
					
	<div class="login-footer">
		<a href="{{ url_for('auth.login') }}">返回登陆界面</a>
		<div class="info-links"></div>	
	</div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	jQuery(document).ready(function($){
		setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
						
		$("form#resetpassword").validate({
			rules: {
				email: {
					required: true
				}
			},
			messages: {
				email: {
					required: '请输入您注册时使用的邮箱'
				}
			},
			submitHandler: function(form){
				show_loading_bar(70);
				var opts = {
					"closeButton": true,
					"debug": false,
					"positionClass": "toast-top-full-width",
					"onclick": null,
					"showDuration": "5000",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "5000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				
				$.ajax({
					url: "{{ url_for('auth.password_reset_request') }}",
					method: 'POST',
					dataType: 'json',
					data: {
						'request':JSON.stringify({
							'email': $(form).find('#email').val()
						})										
					},
					success: function(resp){
						show_loading_bar({
							delay: .5,
							pct: 100,
							finish: function(){
								if(resp.code == 0 || resp.code == 1){
									toastr.error("尝试发送请求失败，请检查您填写项是否合法并重试！", "注册失败", opts);
									$email.select();
								} else if (resp.code == 2){
									toastr.success("请求已成功发送，若您填写的电子邮箱存在关联账户，那么您将会收到我们发送的重置密码邮件，请留意！", "邮件已成功发送！", opts);
									setTimeout("window.location.href = '{{ url_for('auth.login') }}'", 4000);
								}
							}
						});
					}
				});
			}
		});
		
		$("form#resetpassword .form-group:has(.form-control):first .form-control").focus();
	});
</script>
{% endblock %}