{% extends "base.html" %}
{% block title %}安全中心{% endblock %}
{% block sidebar %}
				<ul id="main-menu" class="main-menu">
					<li class="opened">
						<a href="">
							<i class="linecons-cog"></i>
							<span class="title">账户管理</span>
						</a>
						<ul>
							<li>
								<a href="{{ url_for('main.user') }}">
									<span class="title">个人资料</span>
								</a>
							</li>
							<li class="active">
								<a href="{{ url_for('auth.secure_center') }}">
									<span class="title">安全中心</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.logout') }}">
									<span class="title">登出</span>
								</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="">
							<i class="linecons-desktop"></i>
							<span class="title">设备管理</span>
						</a>
						<ul id="deviceListLeft">
							<li>
								<a href="{{ url_for('main.home') }}">
									<span class="title">全部设备</span>
								</a>
							</li>
						</ul>		
					</li>
					<li>
						<a href="{{ url_for('main.monitor') }}">
							<i class="linecons-camera"></i>
							<span class="title">视频监控</span>
						</a>
					</li>
					<li>
						<a href="http://forec.cn:20000">
							<i class="linecons-key"></i>
							<span class="title">远程登录</span>
						</a>
					</li>
				</ul>
{% endblock %}
{% block main %}
<nav class="navbar user-info-navbar" role="navigation">

	<ul class="user-info-menu left-links list-inline list-unstyled">
		<li class="hidden-sm hidden-xs">
			<a href="#" data-toggle="sidebar">
				<i class="fa-bars"></i>
			</a>
		</li>
	</ul>
	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">
				
				
		<li class="dropdown user-profile">
			<a href="#" data-toggle="dropdown">
			{% if current_user.is_authenticated %}
				<img src="{{ current_user.gravatar(size=48) }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					{{ current_user.nickname }}
					<i class="fa-angle-down"></i>
				</span>
			{% else %}
				<img src="{{ url_for('static', filename = 'assets/images/user-4.png') }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					游客
					<i class="fa-angle-down"></i>
				</span>
			{% endif %}
			</a>
			{% if current_user.is_authenticated %}
				<ul class="dropdown-menu user-profile-menu list-unstyled">
					<li>
						<a href="{{ url_for('main.user') }}"><i class="fa-edit"></i>账户资料</a>
					</li>
					<li>
						<a href="{{ url_for('main.home') }}"><i class="fa-dashboard"></i>设备管理</a>
					</li>
					<li>
						<a href="{{ url_for('auth.secure_center') }}"><i class="fa-unlock"></i>安全中心</a>
					</li>
					<li class="last">
						<a href="{{ url_for('auth.logout') }}"><i class="fa-sign-out"></i>登出</a>
					</li>
				</ul>
			{% else %}
				<ul class="dropdown-menu user-profile-menu list-unstyled">
					<li>
						<a href="{{ url_for('auth.register') }}">
							<i class="fa-space-shuttle"></i>
							注册
						</a>
					</li>
					<li class="last">
						<a href="{{ url_for('auth.login') }}">
							<i class="fa-sign-in"></i>
							登录
						</a>
					</li>
				</ul>
			{% endif %}
		</li>
	</ul>
</nav>

<div class="page-title">
	<div class="title-env">
		<h1 class="title">安全中心</h1>
		<p class="description"></p>
	</div>
	<div class="breadcrumb-env">
		<ol class="breadcrumb bc-1">
			<li>
				<a href="{{ url_for('main.index') }}"><i class="fa-home"></i>主页</a>
			</li>
			<li>
				<a href="{{ url_for('main.user') }}">账户管理</a>
			</li>
			<li class="active">
				<a href="{{ url_for('auth.secure_center') }}"><strong>安全中心</strong></a>
			</li>
		</ol>
	</div>
					
	</div>
					<input type="hidden" id = "info_token" class = "form-control" value = "{{ current_user.token_hash }}">
				<input type="hidden" id="info_email" class = "form-control" value="{{ current_user.email }}">
				<input type="hidden" id="info_interval" class = "form-control" value="{{ current_user.interval }}">
		<div class="row">
			<div class="col-md-12">				
			<input type="hidden" id = "info_token" class = "form-control" value = "{{ current_user.token_hash }}">
				<input type="hidden" id="info_email" class = "form-control" value="{{ current_user.email }}">
				<div class="panel panel-default">
					<form role="form" id="form-edit-email" method="post" name="form-edit-email">
						<div class="form-group">
							<label class="control-label">更换绑定邮箱</label>
							<input id ="newEmail" type="email" class="form-control" name="newEmail" placeholder="请输入您要更换的新邮箱" />
						</div>
						<div class="form-group">
							<label class="control-label">当前密码</label>
								<input id="currentEmailPassword" type="password" class="form-control" name="currentEmailPassword"  placeholder="请输入当前密码" />
						</div>
						<div class="form-group">
							<button class="btn btn-success" type="submit">提交</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<form role="form" id="form-edit-password" method="post" name="form-edit-password">
						<div class="form-group">
							<label class="control-label">当前密码</label>
								<input id="currentPassword" type="password" class="form-control" name="currentPassword" placeholder="请输入当前密码" />
						</div>
						<div class="form-group">
							<label class="control-label">新密码</label>
							<input id="newPassword" type="password" class="form-control" name="newPassword" placeholder="请输入新密码" />
						</div>
						<div class="form-group">
							<label class="control-label">确认新密码</label>
							<input id="newPassword2" type="password" class="form-control" name="newPassword2" placeholder="请再次输入新密码以确认" />
						</div>
						<div class="form-group">
							<button class="btn btn-success" type="submit">提交</button>
						</div>
					</form>
		</div>
	</div>
</div>
{% endblock %}
			
{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function($){
	
	refresh();

	setInterval(function(){
		refresh();
	}, 2000);
	
	jQuery('#newEmail').text('');
	jQuery('#currentEmailPassword').text('');
	jQuery('#currentPassword').text('');
	jQuery('#newPassword').text('');
	jQuery('#newPassword2').text('');
});

jQuery(document).ready(function($){
	$("form#form-edit-email").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			currentEmailPassword: {
			    required: true,
				minlength: 8,
				maxlength: 32
			}
		},
		messages: {
			email: {
				required: '请输入邮箱',
				email: '邮箱格式不合法'
			},
			currentEmailPassword: {
			    required: '当前密码不能为空',
				minlength: '密码长度不能小于8字符',
				maxlength: '密码长度不能大于32字符'
			}
		},
		submitHandler: function(form){
			show_loading_bar(70);
			var opts = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-full-width",
				"onclick": null,
				"showDuration": "5000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "5000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};
			$.ajax({
				url: "{{ url_for('auth.change_email_request') }}",
				method: 'POST',
				dataType: 'json',
				data: {
					'request':JSON.stringify({
						'newemail': $(form).find('#newEmail').val(),
						'token': jQuery('#info_token').val(),
						'passwd': $(form).find('#currentEmailPassword').val(),
						'email':  jQuery('#info_email').val()
					})
				},
				success: function(resp){
					show_loading_bar({
						delay: .5,
						pct: 100,
						finish: function(){
							if(resp.code == 0 || resp.code == 1){
								toastr.error("尝试发送请求失败，请检查您填写项是否合法并重试！", "修改失败", opts);
							} else if (resp.code == 3){
								toastr.success("您的请求已成功发送，一封确认邮件已经发送到您填写的邮箱，验证后即可完成邮箱的修改，请您注意查收！", "请求发送成功", opts);
							} else if (resp.code == 2) {
								toastr.error("远程服务器拒绝了您的请求，可能是您填写的电子邮箱已经被注册，或者您的身份没有通过认证！", "您填写的信息需要变更", opts);
							}
						}
					});
				}
			});
			jQuery('#newEmail').text('');
			jQuery('#currentEmailPassword').text('');
		}
	});

	$("form#form-edit-password").validate({
		rules: {
			currentPassword: {
				required: true,
	//			minlength: 8,
				maxlength: 32
			},
			newPassword:{
				required: true,
				minlength: 8,
				maxlength: 32
			},
			newPassword2: {
				required: true,
				equalTo: "#newPassword"
			}
		},
		messages: {
			currentPassword: {
				required: '请输入旧密码',
				minlength: '密码长度不能小于8字符',
				maxlength: '密码长度不能大于32字符'
			},
			newPassword:{
				required: '请输入新密码',
				minlength: '密码长度不能小于8字符',
				maxlength: '密码长度不能大于32字符'
			},
			newPassword2:{
				required: '请再次输入新密码',
				equalTo: '两次密码输入不一致'
			}
		},
		submitHandler: function(form){
			show_loading_bar(70); // Fill progress bar to 70% (just a given value)
			var opts = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-full-width",
				"onclick": null,
				"showDuration": "5000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "5000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};
			$.ajax({
				url: "{{ url_for('auth.change_password') }}",
				method: 'POST',
				dataType: 'json',
				data: {
					'request':JSON.stringify({
						'email': jQuery('#info_email').val(),
						'token': jQuery('#info_token').val(),
						'passwd': $(form).find('#currentPassword').val(),
						'newpasswd': $(form).find('#newPassword2').val()
					})
				},
				success: function(resp){
					show_loading_bar({
						delay: .5,
						pct: 100,
						finish: function(){
							if (resp.code == 3){
								toastr.success("您的密码已修改成功！", "修改成功", opts);
							}
							else if (resp.code == 0 || resp.code == 1){
								toastr.error("尝试发送请求失败，请检查您填写项是否合法并重试！", "请求发送失败", opts);
								$('#currentPassword').select();
							}
							else if (resp.code == 2){
								toastr.error("远程服务器拒绝了您的请求，请确认您拥有此账户的管理权限", "身份认证失败", opts);
								$('#currentPassword').select();
							}
						}
					});
				}
			});
			jQuery('#currentPassword').text('');
			jQuery('#newPassword').text('');
			jQuery('#newPassword2').text('');
		}
	});

	$("form#form-edit-password .form-group:has(.form-control):first .form-control").focus();
	$("form#form-edit-email .form-group:has(.form-control):first .form-control").focus();
});

function refresh() {
	$.post( window.url + '/show_status/', {
		'request':{
			'token': jQuery("#info_token").val(),
			'email': jQuery("#info_email").val()
		}
	}).done(function (data) {
		if ('list' in data){
		    $('#deviceListLeft').empty();
			var leftSideBar = "<li><a href=\""+ window.url + 
							"\"><span class=\"title\">全部设备</span></a></li>";
			for (var key in data.list){     // key is device.code
			    var deviceDate = 1000* data.list[key].last_seen;
				var currentDate = new Date().getTime();
				var sidename = data.list[key].name;
				
				if (currentDate - deviceDate > 2000 * data.list[key].interval){
					sidename = data.list[key].name + "（失去连接）";
				}
				leftSideBar = leftSideBar + "<li><a href=\"" + window.url + "/device/" + key + "\">" + 
							"<span class=\"title\">" + sidename + "</span></a></li>";
			}
		    $('#deviceListLeft').html(leftSideBar);
		}
	}).fail(function (data) {
		console.log(window.url + '/show_status/');
	});
}
</script>
{% endblock %}