<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="ZENITH CLOUD DEVICE MANAGEMENT" />
	<meta name="author" content="" />
	
	<title>顶点云设备管理</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/linecons/css/linecons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/fontawesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-core.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-components.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-skins.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">

	<script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js') }}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<script>
		window.url = "{{ url_for('main.home', _external=True) }}";
		window.url = window.url.substring(0,window.url.length-1);
		</script>
</head>


<body class="page-body">
	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed">
			
			<div class="sidebar-menu-inner">	

				<!--左边菜单图标-->
				<header class="logo-env">
					
					<!-- logo -->
					<div class="logo">
						<a href="{{ url_for('main.home') }}" class="logo-expanded">
							<img src="{{ url_for('static', filename = 'assets/images/zenith-logo-white.png') }}" width="80" alt="" />
						</a>
					</div>
					
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-user"></i>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>
								
				</header>

				<!--左边菜单-->
				<ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<li>
						<a href="">
							<!--<i class=""></i>-->
							<span class="title">账户管理</span>
						</a>
						<ul>
							<li>
								<a href="{{ url_for('main.user', id=current_user.uid) }}">
									<span class="title">个人资料</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<span class="title">安全中心</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.logout') }}">
									<span class="title">登出</span>
								</a>
							</li>
						</ul>						
					</li>
					<li class="opened">
						<a href="">
							<span class="title">设备管理</span>
						</a>
						<ul id="deviceListLeft">
							<li class="active">
								<a href="{{ url_for('main.home') }}">
									<span class="title">全部设备</span>
								</a>
							</li>
						</ul>		
					</li>
				</ul>
						
			</div>
			
		</div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<!--用户信息-->
			<nav class="navbar user-info-navbar" role="navigation">
				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
					
					<li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->
						
						<form method="get" action="extra-search.html">
							<input type="text" name="s" class="form-control search-field" placeholder="查找设备..." />
							
							<button type="submit" class="btn btn-link">
								<i class="linecons-search"></i>
							</button>
						</form>
						
					</li>
				
				
				<li class="dropdown user-profile">
						<a href="#" data-toggle="dropdown">
							{% if current_user.is_authenticated %}
							<img src="{{ current_user.gravatar(size=48) }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								{{ current_user.nickname }}
								<i class="fa-angle-down"></i>
							</span>
							{% else %}
							<img src="{{ url_for('static', filename = 'assets/images/user-4.png') }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								游客
								<i class="fa-angle-down"></i>
							</span>
							{% endif %}
						</a>
					{% if current_user.is_authenticated %}
						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="{{ url_for('main.user', id = current_user.uid) }}">
									<i class="fa-suitcase"></i>
									账户资料
								</a>
							</li>
							<li>
								<a href="{{ url_for('main.home') }}"><i class="fa-dashboard"></i>设备管理</a>
							</li>
							<li>
								<a href="{{ url_for('main.edit_profile', id = current_user.uid) }}"><i class="fa-edit"></i>编辑信息</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}"><i class="fa-unlock"></i>安全中心</a>
							</li>
							<li class="last">
								<a href="{{ url_for('auth.logout') }}"><i class="fa-sign-out"></i>登出</a>
							</li>
						</ul>
					{% else %}
						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="{{ url_for('auth.register') }}">
									<i class="fa-space-shuttle"></i>
									注册
								</a>
							</li>
							<li class="last">
								<a href="{{ url_for('auth.login') }}">
									<i class="fa-sign-in"></i>
									登录
								</a>
							</li>
						</ul>
					{% endif %}
				</li>
					

					
				</ul>
				
			</nav>

			<script type="text/javascript">

				jQuery(document).ready(function($){
					refresh();
				    setInterval(function(){
				        refresh();
					}, 2000);
				    //---------------------------------close
				    $("#degreeList").on('click', '#openbutton', function(){
				        //alert($(this).parent("td").siblings("#equipmentCode").text());
						//console.log($(this).parent("td").siblings("#equipmentCode").text());
						$(this).parent("td").children("#openbutton").text('正在开启');
						$(this).parent("td").children("#openbutton").removeClass('btn-success');
						$(this).parent("td").children("#openbutton").addClass('btn-warning');
						var iswork = $(this).parent("td").siblings("#IsEquipmentWork").text();
						if (iswork == '开'){
							$.ajax({
								url:"{{ url_for('main.set_device') }}",
								type: "POST",
								data:{
									'request':JSON.stringify({
										'token': jQuery("#info_token").val(),
										'email': jQuery("#info_email").val(),
										'code': $(this).parent("td").siblings("#equipmentCode").text(),
										'set':{
											'shutdown': 1
										}
									})
								}
							})
						} else {
							$.ajax({
								url:"{{ url_for('main.set_device') }}",
								type: "POST",
								data:{
									'request':JSON.stringify({
										'token': jQuery("#info_token").val(),
										'email': jQuery("#info_email").val(),
										'code': $(this).parent("td").siblings("#equipmentCode").text(),
										'set':{
											'setup': 1
										}
									})
								}
							})
						}
					});
					
					// 即刻刷新
				    $("#refreshAtOnce").on('click', function(){
				        refresh();
					});
		
				    //---------------------------------delete
				    $("#degreeList").on('click', '.btn-red', function(){
				        alert($(this).parent("td").siblings("#equipmentCode").text());
					});
				});

				function refresh() {
					$.post( window.url + '/show_status/', {
							'request':{
							'token': jQuery("#info_token").val(),
							'email': jQuery("#info_email").val()
						}
					}).done(function (data) {
						if ('list' in data){
						    $('#degreeList').children("tbody").empty();
						    $('#deviceListLeft').empty();
							
							
							var leftSideBar = "<li class=\"active\"><a href=\""+ window.url + 
								"\"><span class=\"title\">全部设备</span></a></li>";
							
							var list_str = "";
							for (var key in data.list){     // key is device.code
							    var deviceDate = 1000* data.list[key].last_seen;
								var currentDate = new Date().getTime();
								var sidename = data.list[key].name;
								var isopen = "<a type='button' id='openbutton' class='btn btn-black btn-xs'>关闭</a>";
								if (data.list[key].work == true){
									data.list[key].work = '开';
								} else {
									data.list[key].work = '关';
									isopen = "<a type='button' id='openbutton' class='btn btn-success btn-xs'>开启</a>";
								}
								if (data.list[key].warning == false){
									data.list[key].warning = "<td><span class='btn btn-success btn-xs'>正常</span></td>";
								} else {
									data.list[key].warning = "<td><span class='btn btn-danger btn-xs'>告警</span></td>";
								}
								
								// something about pc
								var temperature = data.list[key].temperature;
								var operation = "";
								if (data.list[key].type == 'PC'){
									temperature = data.list[key].cpu_temp;
									operation = "<td class='text-left'>" +
													"<a type='button' class='btn btn-blue btn-xs' href=\""+ 
														window.url + "/ssh/" + key + "\">SSH</a>" +
													"<a type='button' class='btn btn-blue btn-xs' href=\""+ 
														window.url + "/device/" + key + "\">详细</a>" +
													"<a type='button' class='btn btn-warning btn-xs' href=\""+ 
														window.url + "/get_history/" + "\">历史</a>" +
													"<a type='button' class='btn btn-red btn-xs'>删除</a>" +
												"</td>";
								} else {
									operation = "<td class='text-left'>" +
													isopen +
													"<a type='button' class='btn btn-blue btn-xs' href=\""+ 
														window.url + "/device/" + key + "\">详细</a>" +
													"<a type='button' class='btn btn-warning btn-xs' href=\""+ 
														window.url + "/get_history/" + "\">历史</a>" +
													"<a type='button' class='btn btn-red btn-xs'>删除</a>" +
												"</td>";
								}
								
								
								if (currentDate - deviceDate <= 2000 * data.list[key].interval){		// 在线
									list_str = list_str + "<tr>" +
												"<th id=\"equipmentCode\">" + key + "<span class='co-name'></span></th>" +
												"<td>" + data.list[key].name + "</td>" +
												"<td>" + data.list[key].type + "</td>" +
												"<td>" + temperature + "</td>" +
												"<td id=\"IsEquipmentWork\">" + data.list[key].work + "</td>" +
												data.list[key].warning +
												operation +
											"</tr>";
								} else{
									list_str = list_str + "<tr>" +
												"<th id=\"equipmentCode\">" + key + "<span class='co-name'></span></th>" +
												"<td>" + data.list[key].name + "</td>" +
												"<td>" + data.list[key].type + "</td>" +
												"<td id=\"IsEquipmentWork\">未知</td>" +
												"<td>未知</td>" +
												"<td><span class='btn btn-danger btn-xs'>设备失去连接</span></td>" +
												"<td class='text-left'>" +
													"<a type='button' class='btn btn-blue btn-xs' href=\"" + 
														window.url + "/device/" + key + "\">详细</a>" +
													"<a type='button' class='btn btn-warning btn-xs' href=\"dashboard-2.html\">历史</a>" +
													"<a type='button' class='btn btn-red btn-xs'>删除</a>" +
												"</td>" +
											"</tr>";				
									sidename = data.list[key].name + "（失去连接）";
								}
								leftSideBar = leftSideBar + "<li><a href=\"" + window.url + "/device/" + key + "\">" + 
									"<span class=\"title\">" + sidename + "</span></a></li>";
							}
							$('#degreeList').children("tbody").html(list_str);
						    $('#deviceListLeft').html(leftSideBar);
						}
					}).fail(function (data) {
						console.log(window.url + '/show_status/');
					});
				}



				function addEquipment(){
				    var t;
				    var radios=$('[name="radio-1"]');
				    for (i=0; i < radios.length; ++i){
				        if(radios[i].checked){
				            type = i;
				            alert(type);
				            break;
						}
					}
					var type = ""
					if (type == 0){
				        type = "Bulb";
					}else if (type == 1){
					    type = "TV";
					} else if (type == 2){
						type = "Air";
					} else {
						type = "PC";
					}
				    alert(v);
					alert($('#type1'))

				    $.ajax({
				        url: window.url + '/new_device/',
						type: "POST",
						data: {
				            'request':JSON.stringify({
				                'token': jQuery("#info_token").val(),
								'email': jQuery("#info_email").val(),
								'name': jQuery("#field-1").val(),
								'interval': jQuery("#field-3").val(),
								'type': type
							})
						},
						success: function(response){
				            $('#modal-1').modal('hide');
                            refresh();
						},
						error: function(error){
						    $('#modal-1').modal('hide');
						}
					})
				}
			</script>

			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">设备管理列表</h1>
					<p class="description">实时监控设备信息，出现异常即时报警</p>
				</div>
				
					<div class="breadcrumb-env">
						<ol class="breadcrumb bc-1">
						<li>
							<a href="{{ url_for('main.home') }}"><i class="fa-home"></i>主页</a>
						</li>
						<li>
							<a href="tables-responsive.html">设备管理</a>
						</li>
						</ol>
					</div>
					
			</div>
			<!-- Responsive Table -->
			<!--列表-->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">温度列表</h3>
<!-----------------------------------------------------------在这里渲染token和email--------------------------------------------------------------------------->
							<input type="hidden" id = "info_token" class = "form-control" value = "{{ current_user.token_hash }}">
							<input type="hidden" id="info_email" class = "form-control" value="{{ current_user.email }}">
							<div class="panel-options">
								<a href="#">
									<i class="linecons-cog"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="#" id="refreshAtOnce" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							
							<div class="table-responsive" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
							
								<table id="degreeList" cellspacing="0" class="table table-small-font table-bordered table-striped">
									<thead>
										<tr>
											<th>设备号</th>
											<th data-priority="1">设备名称</th>
											<th data-priority="3">设备类型</th>
											<th data-priority="1">温度</th>
											<th data-priority="3">开/关</th>
											<th data-priority="3">状态</th>
											<th data-priority="6">操作</th>
										</tr>
									</thead>
									<tbody>									
									</tbody>
								</table>
							
							</div>


							<a href="javascript:;" onclick="jQuery('#modal-1').modal('show', {backdrop: 'fade'});" class="btn btn-red">添加监控设备</a>
							<script type="text/javascript">
							// This JavaScript Will Replace Checkboxes in dropdown toggles
							jQuery(document).ready(function($)
							{
								setTimeout(function()
								{
									$(".checkbox-row input").addClass('cbr');
									cbr_replace();
								}, 0);
							});
							</script>

							
						</div>
					
					</div>
				</div>
			</div>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<div class="footer-text">
						京ICP备16060806号-1 &copy; 2016 
						<strong>顶点云设备监控系统</strong> 
						由 <a href="http://forec.cn" target="_blank" title="Forec">Forec</a> 和 <a href="https://github.com/non1996" title="non1996" target="_blank">non1996</a> 设计
					</div>
					
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
					
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
						
					</div>
					
				</div>
				
			</footer>
		</div>
		
	</div>

		<!-- 模态对话框，添加监管设备-->
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">添加新设备</h4>
				</div>

				<div class="modal-body">
					<form role="form" class="form-horizontal">

								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">设备名称</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" placeholder="输入你的设备名称">
									</div>
								</div>

								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-2">设备号</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-2" placeholder="输入设备号">
									</div>
								</div>

								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-3">监测间隔</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-3" placeholder="输入监测周期">
									</div>
								</div>

								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">设备类型</label>

									<div class="col-sm-10">
										<div class="radio">
											<label>
												<input id="type1" type="radio" name="radio-1" value="Bulb" checked>
												电灯
											</label>
										</div>
										<div class="radio">
											<label>
												<input id="type2" type="radio" name="radio-1">
												电视
											</label>
										</div>
									</div>
								</div>
							</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal" onclick="addEquipment()">确认</button>
					<button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>



	<!-- Bottom Scripts -->
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/resizeable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/joinable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-api.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-toggles.js') }}"></script>


	<!-- Imported scripts on this page -->
	<script src="{{ url_for('static', filename='assets/js/rwd-table/js/rwd-table.min.js') }}"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="{{ url_for('static', filename='assets/js/xenon-custom.js') }}"></script>
	
	{% for message in get_flashed_messages() %}
    <script>
		// create the notification
		var notification = new NotificationFx({
			message : '<i class="fa fa-bullhorn fa-2x"></i><p>{{ message }}</p>',
			layout : 'bar',
			effect : 'slidetop',
			ttl : 5000,
			type : 'notice',
			// notice, warning or error
		});
		// show the notification
		notification.show();
	</script>
{% endfor %}

</body>
</html>