<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>Xenon - Responsive Table</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/linecons/css/linecons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts/fontawesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-core.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-components.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/xenon-skins.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">

	<script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js') }}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<script>window.url = 'http://10.201.14.176:5000';</script>
</head>
<body class="page-body">

	<div class="settings-pane">
			
		<a href="#" data-toggle="settings-pane" data-animate="true">
			&times;
		</a>
		
		<div class="settings-pane-inner">
			
			<div class="row">
				
				<div class="col-md-4">
					
					<div class="user-info">
						
						<div class="user-image">
							<a href="extra-profile.html">
							{% if current_user.is_authenticated %}	
								<img src="{{ current_user.gravatar(size=48) }}" class="img-responsive img-circle" />
							{% else %}
								<img src="{{ url_for('static', filename='assets/images/user-2.png') }}" class="img-responsive img-circle" />
							{% endif %}
							</a>
						</div>
						
						<div class="user-details">
							
							<h3>
								<a href="extra-profile.html">John Smith</a>
								
								<!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
								<span class="user-status is-online"></span>
							</h3>
							
							<p class="user-title">Web Developer</p>
							
							<div class="user-links">
								<a href="extra-profile.html" class="btn btn-primary">Edit Profile</a>
								<a href="extra-profile.html" class="btn btn-success">Upgrade</a>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
				<div class="col-md-8 link-blocks-env">
					
					<div class="links-block left-sep">
						<h4>
							<span>Notifications</span>
						</h4>
						
						<ul class="list-unstyled">
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1" />
								<label for="sp-chk1">Messages</label>
							</li>
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2" />
								<label for="sp-chk2">Events</label>
							</li>
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3" />
								<label for="sp-chk3">Updates</label>
							</li>
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4" />
								<label for="sp-chk4">Server Uptime</label>
							</li>
						</ul>
					</div>
					
					<div class="links-block left-sep">
						<h4>
							<a href="#">
								<span>Help Desk</span>
							</a>
						</h4>
						
						<ul class="list-unstyled">
							<li>
								<a href="#">
									<i class="fa-angle-right"></i>
									Support Center
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa-angle-right"></i>
									Submit a Ticket
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa-angle-right"></i>
									Domains Protocol
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa-angle-right"></i>
									Terms of Service
								</a>
							</li>
						</ul>
					</div>
					
				</div>
				
			</div>
		
		</div>
		
	</div>
	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed">
			
			<div class="sidebar-menu-inner">	

				<!--左边菜单图标-->
				<header class="logo-env">
					
					<!-- logo -->
					<div class="logo">
						<a href="dashboard-1.html" class="logo-expanded">
							<img src="{{ url_for('static', filename = 'assets/images/logo@2x.png') }}" width="80" alt="" />
						</a>
						
						<a href="dashboard-1.html" class="logo-collapsed">
							<img src="{{ url_for('static', filename = 'assets/images/logo-collapsed@2x.png') }}" width="40" alt="" />
						</a>
					</div>
					
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>
								
				</header>

				<!--左边菜单-->
				<ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<li class="opened active">
						<a href="">
							<!--<i class=""></i>-->
							<span class="title">账户管理</span>
						</a>
					</li>
					<li class="opened active">
						<a href="tables-responsive.html">
							<!--<i class="linecons-database"></i>-->
							<span class="title">设备管理</span>
						</a>
						<ul>
							<li class="active">
								<a href="tables-responsive.html">
									<span class="title">温度监控</span>
								</a>
							</li>
							<li>
								<a href="dashboard-1.html">
									<span class="title">控制面板</span>
								</a>
							</li>
							<li>
								<a href="dashboard-2.html">
									<span class="title">历史记录</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="opened active">
						<a>
							<span class="title">注销</span>
						</a>
					</li>
				</ul>
						
			</div>
			
		</div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<!--用户信息-->
			<nav class="navbar user-info-navbar" role="navigation">
				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
					
					<li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->
						
						<form method="get" action="extra-search.html">
							<input type="text" name="s" class="form-control search-field" placeholder="查找设备..." />
							
							<button type="submit" class="btn btn-link">
								<i class="linecons-search"></i>
							</button>
						</form>
						
					</li>
				
				
				<li class="dropdown user-profile">
						<a href="#" data-toggle="dropdown">
							{% if current_user.is_authenticated %}
							<img src="{{ current_user.gravatar(size=48) }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								{{ current_user.nickname }}
								<i class="fa-angle-down"></i>
							</span>
							{% else %}
							<img src="{{ url_for('static', filename = 'assets/images/user-4.png') }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								游客
								<i class="fa-angle-down"></i>
							</span>
							{% endif %}
						</a>
					{% if current_user.is_authenticated %}
						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="#edit-profile">
									<i class="fa-edit"></i>
									用户信息
								</a>
							</li>
							<li class="last">
								<a href="extra-lockscreen.html">
									<i class="fa-lock"></i>
									登出
								</a>
							</li>
						</ul>
					{% else %}
						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="{{ url_for('auth.register') }}">
									<i class="fa-edit"></i>
									注册
								</a>
							</li>
							<li class="last">
								<a href="{{ url_for('auth.login') }}">
									<i class="fa-lock"></i>
									登录
								</a>
							</li>
						</ul>
					{% endif %}
				</li>
					

					
				</ul>
				
			</nav>

			<script type="text/javascript">

				jQuery(document).ready(function($){
					refresh();
				    setInterval(function(){
				        refresh();
					}, 2000);
				    //---------------------------------close
				    $("#degreeList").on('click', '#openbutton', function(){
				        //alert($(this).parent("td").siblings("#equipmentCode").text());
						console.log($(this).parent("td").siblings("#equipmentCode").text());
						var iswork = $(this).parent("td").siblings("#IsEquipmentWork").text();
						if (iswork == '开'){
							$.ajax({
								url:"{{ url_for('main.set_device') }}",
								type: "POST",
								data:{
									'request':JSON.stringify({
										'token': jQuery("#info_token").val(),
										'email': jQuery("#info_email").val(),
										'code': $(this).parent("td").siblings("#equipmentCode").text(),
										'set':{
											'shutdown': 1
										}
									})
								}
							})
						} else {
							$.ajax({
								url:"{{ url_for('main.set_device') }}",
								type: "POST",
								data:{
									'request':JSON.stringify({
										'token': jQuery("#info_token").val(),
										'email': jQuery("#info_email").val(),
										'code': $(this).parent("td").siblings("#equipmentCode").text(),
										'set':{
											'setup': 1
										}
									})
								}
							})
						}
					});
				    //---------------------------------delete
				    $("#degreeList").on('click', '.btn-red', function(){
				        alert($(this).parent("td").siblings("#equipmentCode").text());
					})
				});

				function refresh() {
					$.post( window.url + '/show_status/', {
							'request':{
							'token': jQuery("#info_token").val(),//'9490544C18C15B21286685B41F825684',
							'email': jQuery("#info_email").val()//'test@test.com'
						}
					}).done(function (data) {
						if ('list' in data){
						    $('#degreeList').children("tbody").empty();
							var list_str = "";
							for (var key in data.list){     // key is device.code
							    var deviceDate = 1000* data.list[key].last_seen;
								var currentDate = new Date().getTime();
								var isopen = "<a type='button' id='openbutton' class='btn btn-black btn-xs'>关闭</a>";
								if (data.list[key].work == true){
									data.list[key].work = '开';
								} else {
									data.list[key].work = '关';
									isopen = "<a type='button' id='openbutton' class='btn btn-success btn-xs'>开启</a>";
								}
								if (data.list[key].warning == false){
									data.list[key].warning = "<td><span class='btn btn-success btn-xs'>正常</span></td>";
								} else {
									data.list[key].warning = "<td><span class='btn btn-danger btn-xs'>告警</span></td>";
								}
								if (currentDate - deviceDate <= 2000 * data.list[key].interval){		// 在线
									list_str = list_str + "<tr>" +
												"<th id=\"equipmentCode\">" + key + "<span class='co-name'></span></th>" +
												"<td>" + data.list[key].name + "</td>" +
												"<td>" + data.list[key].type + "</td>" +
												"<td>" + data.list[key].temperature + "</td>" +
												"<td id=\"IsEquipmentWork\">" + data.list[key].work + "</td>" +
												data.list[key].warning +
												"<td class='text-left'>" +
													isopen +
													"<a type='button' class='btn btn-blue btn-xs' href=\""+ 
														window.url + "/device/" + key + "\">详细</a>" +
													"<a type='button' class='btn btn-warning btn-xs' href=\""+ 
														window.url + "/get_history/" + "\">历史</a>" +
													"<a type='button' class='btn btn-red btn-xs'>删除</a>" +
												"</td>" +
											"</tr>";
								} else{
									list_str = list_str + "<tr>" +
												"<th id=\"equipmentCode\">" + key + "<span class='co-name'></span></th>" +
												"<td>" + data.list[key].name + "</td>" +
												"<td>" + data.list[key].type + "</td>" +
												"<td id=\"IsEquipmentWork\">未知</td>" +
												"<td>未知</td>" +
												"<td><span class='btn btn-danger btn-xs'>设备失去连接</span></td>" +
												"<td class='text-left'>" +
													"<a type='button' class='btn btn-blue btn-xs' href=\"dashboard-1.html\">详细</a>" +
													"<a type='button' class='btn btn-warning btn-xs' href=\"dashboard-2.html\">历史</a>" +
													"<a type='button' class='btn btn-red btn-xs'>删除</a>" +
												"</td>" +
											"</tr>";								
								}
							}
							$('#degreeList').children("tbody").html(list_str);
						}
					}).fail(function (data) {
						console.log(window.url + '/show_status/');
					});
				}



				function addEquipment(){
				    var t;
				    var radios=$('[name="radio-1"]');
				    for (i=0; i < radios.length; ++i){
				        if(radios[i].checked){
				            type = i;
				            alert(type);
				            break;
						}
					}
					var type = ""
					if (type == 0){
				        type = "Bulb";
					}else if (type == 1){
					    type = "TV";
					} else if (type == 2){
						type = "Air";
					} else {
						type = "PC";
					}
				    alert(v);
					alert($('#type1'))

				    $.ajax({
				        url: window.url + '/new_device/',
						type: "POST",
						data: {
				            'request':JSON.stringify({
				                'token': jQuery("#info_token").val(),
								'email': jQuery("#info_email").val(),
								'name': jQuery("#field-1").val(),
								'interval': jQuery("#field-3").val(),
								'type': type
							})
						},
						success: function(response){
				            $('#modal-1').modal('hide');
                            refresh();
						},
						error: function(error){
						    $('#modal-1').modal('hide');
						}
					})
				}
			</script>

			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">温度监控</h1>
					<p class="description">实时监控设备温度，超过阈值会报警</p>
				</div>
				
					<div class="breadcrumb-env">
						<ol class="breadcrumb bc-1">
						<li>
							<a href="dashboard-1.html"><i class="fa-home"></i>主页</a>
						</li>
						<li>
							<a href="tables-responsive.html">设备管理</a>
						</li>
						<li class="active">
							<strong>温度监控</strong>
						</li>
						</ol>
					</div>
					
			</div>
			<!-- Responsive Table -->
			<!--列表-->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">温度列表</h3>
<!-----------------------------------------------------------在这里渲染token和email--------------------------------------------------------------------------->
							<input type="hidden" id = "info_token" class = "form-control" value = "{{ current_user.token_hash }}">
							<input type="hidden" id="info_email" class = "form-control" value="{{ current_user.email }}">
							<div class="panel-options">
								<a href="#">
									<i class="linecons-cog"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="#" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							
							<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
							
								<table id="degreeList" cellspacing="0" class="table table-small-font table-bordered table-striped">
									<thead>
										<tr>
											<th>设备号</th>
											<th data-priority="1">设备名称</th>
											<th data-priority="3">设备类型</th>
											<th data-priority="1">温度</th>
											<th data-priority="3">开/关</th>
											<th data-priority="3">状态</th>
											<th data-priority="6">操作</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							
							</div>


							<a href="javascript:;" onclick="jQuery('#modal-1').modal('show', {backdrop: 'fade'});" class="btn btn-red">添加监控设备</a>
							<script type="text/javascript">
							// This JavaScript Will Replace Checkboxes in dropdown toggles
							jQuery(document).ready(function($)
							{
								setTimeout(function()
								{
									$(".checkbox-row input").addClass('cbr');
									cbr_replace();
								}, 0);
							});
							</script>

							
						</div>
					
					</div>
				</div>
			</div>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<!--
					<div class="footer-text">
						&copy; 2014 
						<strong>Xenon</strong> 
						More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
					</div>
					-->
					
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
					
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
						
					</div>
					
				</div>
				
			</footer>
		</div>
		
	</div>
	
	<!-- 模态对话框，添加监管设备-->
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">添加新设备</h4>
				</div>

				<div class="modal-body">
					<form role="form" class="form-horizontal">

								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">设备名称</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" placeholder="输入你的设备名称">
									</div>
								</div>

								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-2">设备号</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-2" placeholder="输入设备号">
									</div>
								</div>

								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-3">监测间隔</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-3" placeholder="输入监测周期">
									</div>
								</div>

								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">设备类型</label>

									<div class="col-sm-10">
										<div class="radio">
											<label>
												<input id="type1" type="radio" name="radio-1" value="Bulb" checked>
												电灯
											</label>
										</div>
										<div class="radio">
											<label>
												<input id="type2" type="radio" name="radio-1">
												电视
											</label>
										</div>
									</div>
								</div>
							</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal" onclick="addEquipment()">确认</button>
					<button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	



	<!-- Bottom Scripts -->
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/resizeable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/joinable.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-api.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/xenon-toggles.js') }}"></script>


	<!-- Imported scripts on this page -->
	<script src="{{ url_for('static', filename='assets/js/rwd-table/js/rwd-table.min.js') }}"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="{{ url_for('static', filename='assets/js/xenon-custom.js') }}"></script>

</body>
</html>