{% extends "base.html" %}
{% block title %}账户管理{% endblock %}
{% block sidebar %}
				<ul id="main-menu" class="main-menu">
					<li class="opened">
						<a href="">
							<span class="title">账户管理</span>
						</a>
						<ul>
							<li class="active">
								<a href="{{ url_for('main.user') }}">
									<span class="title">账户资料</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.secure_center') }}">
									<span class="title">安全中心</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('auth.logout') }}">
									<span class="title">登出</span>
								</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="">
							<span class="title">设备管理</span>
						</a>
						<ul id="deviceListLeft">
							<li>
								<a href="{{ url_for('main.home') }}">
									<span class="title">全部设备</span>
								</a>
							</li>
						</ul>		
					</li>
				</ul>
{% endblock %}
{% block main %}
<nav class="navbar user-info-navbar" role="navigation">
	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">
				
				
		<li class="dropdown user-profile">
			<a href="#" data-toggle="dropdown">
			{% if current_user.is_authenticated %}
				<img src="{{ current_user.gravatar(size=48) }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					{{ current_user.nickname }}
					<i class="fa-angle-down"></i>
				</span>
			{% else %}
				<img src="{{ url_for('static', filename = 'assets/images/user-4.png') }}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					游客
					<i class="fa-angle-down"></i>
				</span>
			{% endif %}
			</a>
			{% if current_user.is_authenticated %}
				<ul class="dropdown-menu user-profile-menu list-unstyled">
					<li>
						<a href="{{ url_for('main.user') }}"><i class="fa-edit"></i>账户资料</a>
					</li>
					<li>
						<a href="{{ url_for('main.home') }}"><i class="fa-dashboard"></i>设备管理</a>
					</li>
					<li>
						<a href="{{ url_for('auth.secure_center') }}"><i class="fa-unlock"></i>安全中心</a>
					</li>
					<li class="last">
						<a href="{{ url_for('auth.logout') }}"><i class="fa-sign-out"></i>登出</a>
					</li>
				</ul>
			{% else %}
				<ul class="dropdown-menu user-profile-menu list-unstyled">
					<li>
						<a href="{{ url_for('auth.register') }}">
							<i class="fa-space-shuttle"></i>
							注册
						</a>
					</li>
					<li class="last">
						<a href="{{ url_for('auth.login') }}">
							<i class="fa-sign-in"></i>
							登录
						</a>
					</li>
				</ul>
			{% endif %}
		</li>
	</ul>
</nav>

			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">账户资料</h1>
					<p class="description"></p>
				</div>
				
					<div class="breadcrumb-env">
						<ol class="breadcrumb bc-1">
						<li>
							<a href="{{ url_for('main.index') }}"><i class="fa-home"></i>主页</a>
						</li>
						<li>
							<a href="{{ url_for('main.user') }}">账户管理</a>
						</li>
						<li class="active">
							<strong>修改用户信息</strong>
						</li>
						</ol>
					</div>
					
			</div>
			<!-- Responsive Table -->
			<!--列表-->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<form role="form" id="form-edit-head" method="post" class="validate fade-in-effect" enctype="multipart/form-data">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="headIcon">头像</label>
									<input type="file" name="headIcon" class="form-control" id="headIcon">
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="nickname">昵称</label>

								<!--<div class="col-sm-10">-->
									<input id="nickname" name="nickname" type="text" class="form-control" data-validate="required" placeholder="输入新的昵称" />
								<!--</div>-->
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="selfIntroduction">个人介绍</label>

								<!--<div class="col-sm-10">-->
									<!--<input id="selfIntroduction" name="selfIntroduction" type="text" class="form-control" data-validate="required" placeholder="输入新的个人介绍" />-->
								<!--</div>-->
  									<textarea class="form-control" cols="5" id="selfIntroduction" name="selfIntroduction"></textarea>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-success">确认</button>
							</div>
						</form>
					</div>
				</div>
			</div>
{% endblock %}
{% block scripts %}
<script>
jQuery(document).ready(function($){
	setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);

	$("form#form-edit-head").validate({
		rules: {
			nickname: {
				required: true,
				minlength: 4,
				maxlength: 24
			},
			selfIntroduction: {
				maxlength: 200,
			}
		},
		messages: {
			nickname: {
				required: '请输入昵称',
				minlength: '昵称至少为 4 个字符',
				maxlength: '昵称不能超过 24 个字符'
			},
			selfIntroduction: {
				maxlength: '不能超过 200 个字符'
			}
		},
		submitHandler: function(form){
		    console.log($('#headIcon').val());
			show_loading_bar(70);
			var opts = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-full-width",
				"onclick": null,
				"showDuration": "5000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "5000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};
			$.ajax({
				url: "{{ url_for('main.user') }}",
				method: 'POST',
				dataType: 'json',
				data: {
					'request':JSON.stringify({
						'nickname': $(form).find('#nickname').val(),
						'aboutme': $(form).find('#selfIntroduction').val(),
						'token': jQuery('#info_token').val(),
						'email': jQuery('#info_email').val()
					}),
					'icon': : $(form).find('#headIcon').val()
				},
				success: function(resp){
					show_loading_bar({
						delay: .5,
						pct: 100,
						finish: function(){
							if(resp.code == 0 || resp.code == 1){
								toastr.error("尝试发送请求失败，请检查您填写项是否合法并重试！", "用户资料修改失败", opts);
							} else if (resp.code == 4){
								toastr.success("您的资料已经修改成功！", "用户资料修改成功", opts);
							} else if (resp.code == 2) {
								toastr.error("远程服务器拒绝了您的连接，请确认您是否拥有编辑权限！", "认证失败", opts);
							}
						}
					});
				}
			});
		}
	});

	$("form#form-edit-head .form-group:has(.form-control):first .form-control").focus();
});
</script>
{% endblock %}